.pullLeft{
	float:left;
}
.pullRight{
	float:right;
}
.clear{
	clear:both;
}
/* end of common styles*/
body{
	margin:0px;
	background-color:green;
	background-image: url(../images/body-bg.jpg);
	background-size:cover;
	background-attachment: fixed;
	background-repeat:repeat;
}
#wrapper{
	width:1200px;

	margin:0px auto;
	margin-top:100px;
}
/* end of wrapper section */
#header{
	width:100%;
/*	height:100px;*/
	background-color:rgba(255,255,255,1);
	padding:35px 160px;
	box-sizing: border-box;
/*	margin-top:50px;
	margin-left:100px;*/
}


.sliderLeft{
	width:900px;
	height:360px;	
	background:url(../images/s.jpg) no-repeat;
	background-size:cover;

}
.sliderLeftInner{
	padding:90px;
	box-sizing: border-box;
	width:100%;
	height:100%;
	background-image: linear-gradient(to right,rgba(160, 55, 236,0.9), rgba(96, 167, 211,0.7));
}
.sliderLeftInner h1,.sliderLeftInner p,.sliderLeftInner button{
	color:white;
}
.sliderLeftInner h1{
	text-transform: uppercase;
}
.sliderLeftInner button{
	background:none;
	padding:10px 20px;
	border:1px solid white;
	border-radius:20px;
}
.sliderRight{
	width:300px;
	height:360px;

}
.sliderRight div img{
	width:100%;
	margin:0;
	padding:0;
	float:right;
}
.storysol{
	width:900px;
	height:360px;	
	background:linear-gradient(to right,rgba(160, 55, 236,0.9), rgba(96, 167, 211,0.7));
	display: inline-block;
	float: left;
	clear: both;
	padding: 50px;

}



/*end of main section*/

/*end of footer section*/

